/*-- scss:rules --*/

/* The Dashboard engine mistakenly wraps the WebR initialization 
   scripts (webr-data, ojs-module-contents) in a visible Card.
   
   This CSS targets any card containing these scripts and hides it.
*/

.card:has(script[type="webr-data"]),
.card:has(script[type="ojs-module-contents"]) {
  display: none !important;
}

#quarto-live-status {
  position: fixed !important;
  z-index: 9999 !important;
}

input[type="color"] {
  width: 110px !important;
  flex-grow: 0 !important; 
}

